.container {
  display: flex;
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider__container {
  width: 300px;
  text-align: center;
  overflow: hidden;
}

.slider__slides {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slider__slide {
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 5%;
  flex-shrink: 0;
  font-size: 100px;
  background: red;
}

.slide__slide:nth-child(2n) {
  background-color: blue;
}
